/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=700111kllllmiU1lPuQkRbQkn2lkd1rqjW+XhGG19zfr2o00kf9pOpeRTkNwEaWha2S6xkl1t1l1GplGFYjgkXjIkz */

/* 
      other palettes: http://paletton.com/#uid=75g0B0k++Umr+ZSFx+V+Vx6+0px; 

*/


/* As hex codes */

.source {
      background: #FFF1ED;
      /*opacity:.5;*/
}
.a0 { color: #AA3939 } /* Main Primary color */
.a1 { color: #FF4D4D }
.a2 { border: 2px solid #F64E4E;
      background: #FFF1ED; /* same as element type */
}
.a2.selected-element {
border: 5px solid #F64E4E !important;
z-index: 200;
padding:-5px;
}

.a3 {
      font-weight: bold;
      background: #AA3939; 
      /* var name */
/*      color: #5E2121}*/
      color: #ffffff }

.a4 { 
      /*background: #130707;*/
      background: #34332F;
      /*color: #F64E4E;*/
      color:#FFF1ED; }
.a5 { 
      background: #AA3939;
      color: #FFF1ED;}


/* code and close buttons */
.a4:hover { 
      background: #34332F;
      color:#88EE00; }
.b4:hover { 
      background: #34332F;
      color:#88EE00; }
.c4:hover { 
      background: #34332F;
      color:#88EE00; }
.d4:hover { 
      background: #34332F;
      color:#88EE00; }

/* info buttons */
.a5:hover { 
      background: #AA3939;
      color: #88EE00;}
.b5:hover { 
      background: #CEB06C;
      color: #88EE00;}
.c5:hover { 
      background: #42569D;
      color:#88EE00; }
.d5:hover { 
      background: #68AF68;
      color:#88EE00; }



.control {
      background:#FFF4D1;
}
.b0 { color: #CEB06C } /* Main Secondary color (1) */
.b1 { color: #FFC236;
 }
.b2 { 
      border: 2px solid #FFCC59;
      background: #FFF4D1; /* same as element type */
    }
.b2.selected-element {
border: 5px solid #FFCC59 !important;
padding:-5px;
z-index: 200;
}
.b3 { background: #CEB06C;
      font-weight: bold;

/*      color: #897B5A }*/
      color: #ffffff }
.b4 { background: #34332F;
      color: #FFC236  }
.b5 { background: #CEB06C;
      color: #34332F }


.visualize {
      /*background: #B6B7C2;*/
      /*background: #6600EE;*/
      /*background:#fff;*/
      /*background:#34332F;*/
      background:rgba(25,255,200,0.12);
      opacity:1;
}
.c0 { color: #42569D } /* Main Secondary color (2) */
.c1 { color: #556ECA }
.c2 { 
      /*border: 2px solid #516BC9;*/
      border: 2px solid #6600EE;
      /*background:#34332F;*/
      background:rgba(10,10,10,0.00);

 }

.c2.selected-element {
border: 5px solid #516BC9 !important;
padding:-5px;
z-index: 200;
}
.c3 { background: #42569D;
      font-weight: bold;

      /*color: #354271 }*/
      color: #ffffff }
.c4 { background: #34332F;
      /*background: #33406F;*/
      color: #fffECA  }
.c5 { background: #42569D;
      color: #ffffff;}


.filter {
      background: rgba(247, 255, 247, 0.02);
}
.d0 { color: #68AF68 }  /* Main Complement color */
.d1 { color: #60FF60 }
.d2 { border: 2px solid #63DE63;
      /*background: #F7FFF2;*/
      background: rgba(247, 255, 247, 0.02);

 }
.d2.selected-element {
border: 5px solid #63DE63 !important;
padding:-5px;
z-index: 200;
}

.d3 { background: #68AF68;
      font-weight: bold;

      /*color: #456245 }*/
      color: #ffffff }
.d4 { background: #34332F;
      color: #68AF68;
       }
.d5 { background: #68AF68;
      color: #222;
       }

/* As RGBa codes */

.rgba-primary-0 { color: rgba(170, 57, 57,1) }  /* Main Primary color */
.rgba-primary-1 { color: rgba(255, 77, 77,1) }
.rgba-primary-2 { color: rgba(246, 78, 78,1) }
.rgba-primary-3 { color: rgba( 94, 33, 33,1) }
.rgba-primary-4 { color: rgba( 19,  7,  7,1) }

.rgba-secondary-1-0 { color: rgba(206,176,108,1) }  /* Main Secondary color (1) */
.rgba-secondary-1-1 { color: rgba(255,194, 54,1) }
.rgba-secondary-1-2 { color: rgba(255,204, 89,1) }
.rgba-secondary-1-3 { color: rgba(137,123, 90,1) }
.rgba-secondary-1-4 { color: rgba( 52, 51, 47,1) }

.rgba-secondary-2-0 { color: rgba( 66, 86,157,1) }  /* Main Secondary color (2) */
.rgba-secondary-2-1 { color: rgba( 85,110,202,1) }
.rgba-secondary-2-2 { color: rgba( 81,107,201,1) }
.rgba-secondary-2-3 { color: rgba( 53, 66,113,1) }
.rgba-secondary-2-4 { color: rgba( 51, 64,111,1) }

.rgba-complement-0 { color: rgba(104,175,104,1) } /* Main Complement color */
.rgba-complement-1 { color: rgba( 96,255, 96,1) }
.rgba-complement-2 { color: rgba( 99,222, 99,1) }
.rgba-complement-3 { color: rgba( 69, 98, 69,1) }
.rgba-complement-4 { color: rgba(  0,  0,  0,1) }



/* Generated by Paletton.com Â© 2002-2014 */
/* http://paletton.com */